.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.DS_Store
**/*.db
**/*.db-*
**/*.sqlite
**/*.sqlite-*
**/*.sqlite3
app/tenants
app/backups
app/uploads
.env
.env.*
!.env.example
